@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('image/To_Do_backgrd.jpg');
background-size: cover;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 300px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.card-header h2{
color: white;
font-family: 'Charm';
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}
#button{
    background-color: #FFC312;
    width: 100px;
    font-family: 'Gudea';
    color: white;
}

#button:hover{
background-color: #ffe066;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
